/********** Defaults **********/
body {
	background-color:#ffffff;
	font-family:"Verdana","Sans Serif","Times New Roman","Arial";
	margin:6px 6px 6px 6px;
/*	text-align:center; */
	color: #000000;
	font-size: 83%;
}

a:link {
	color:#0000ff;
	text-decoration: none
}
a:active, a:visited {
	color:#0000ff;
	text-decoration: none
}
a:hover {
	color:#0000ff;
	text-decoration: underline
}

h1 {
	font-size:120%;
	text-align:left;
	margin-top:2px;
	margin-bottom:18px;
}

h2 {
	font-size:110%;
	text-align:left;
	margin:0px;
	padding:0px;
}

h3 {
	font-size:110%;
	text-align:left;
	margin:0px;
	padding:0px;
}

li {
	margin-bottom: 4px;
}

.banner {
	background-image:url(banner.png);
	width:920px;
	height:40px;
	margin-right: auto;
	margin-left: auto;
	float:left;
	background-repeat:no-repeat;
}

.bannertext {
	width:350px;
	margin-left: 0px;
	float:left;
	padding-top:20px;
	padding-left:420px;
	text-align:left;
	color:#000000;
	font-size:12px;
	font-family:"Tahoma","Arial","Sans Serif","Times New Roman";
	font-weight: bold;
}

.header {
	height:50px;
	background:#ffffff url(/images/logo.jpg) top left no-repeat;
	color:#000000;
	width:960px;
	margin-right: auto;
	margin-left: auto; 
	margin-top: 2px;
	margin-bottom: 8px;
	padding: 0px;
	text-align:left;
	float:left;
}

.mainimg {
	width: 644px;
	height: 216px;
	border-width: 0px;
}

img {
	border-width: 0px;
}

td {
	padding-top: 0px;
	vertical-align: top;
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 1100px;
	float:clear;
}

.mainbox {
	width: 100%;
	padding: 0px;
	float: clear;
}

.content {
	width: 798px;
	text-align:left;
	float: left;
	display: inline;
	padding: 8px;
	margin: 6px 6px 6px 6px;
	border-width:0px;
	border-top-style:outset;
	border-left-style:outset;
	border-right-style:ridge;
	border-bottom-style:ridge;
	border-top-color:#dddddd;
	border-left-color:#dddddd;
	border-right-color:#dddddd;
	border-bottom-color:#dddddd;
	background-color:#ffffff;
}

.sidebar {
	width: 168px;
	text-align:center;
	border-style:solid;
	border-width:0px;
	border-color:#0000ff;
	padding: 2px;
	background-color:#f0f0f0;
	background-color:#ffffff;
	float: left;
	display: inline;
}

.footer {
	clear:both;
	width:776px;
	height:60px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	font-size: small;
	text-align:center;
}

/********** Main Menu **********/
#leftMenu{
background:url(images/menu-top.jpg) top left no-repeat;
padding-top:30px;
margin-top:-2px;
padding-left:0px;
margine-left:0px;
}
#leftMenu ul{
list-style:none;
}
#leftMenu ul.outer {
background:url(images/menu-bottom.jpg) bottom left no-repeat;
padding-bottom:58px;
padding-left:0px;
margine-left:0px;
}
#leftMenu a{
display:block;
text-decoration:none;
/*color:white;*/
padding:10px 2px 10px 0px;
margin:0px;
background:url(images/menu.jpg);
}
#leftMenu.level1 ul{
display:block;
padding:0x;
margin:0px;
}
#leftMenu.level1:hover ul{
display:block;
}
#leftMenu.level1 a{
text-align:left;
/*color:#000000;*/
padding:0x;
margin:0px;
padding-left:0px;
margine-left:0px;
}
#leftMenu.level2 a{
text-align:right;
/*color:#000000;*/
padding-right:34px;
padding-left:0px;
margine-left:0px;
}

.MainMenuInner {
padding:0x;
margin:0px;
}

MainMenuInner {
padding:0x;
margin:0px;
}

/********** Downloads **********/
.LIn_shortMode{
list-style:none;
margin:0 20px;
text-align:center;
}
.LIn_shortMode a{
color:#000000;
}


.blogSummary {
margin:4px 0px 4px 0px;
padding:0;
}

.blogSummary h3 {
margin-bottom:4px;
padding:0;
font-size:100%;
color: #0000ff;
}

.blogSummary .blogInfo {
font-size:100%;
}

.blogLink {
font-size: 100%;
text-align: left;
color:#0000ff;
}

.ditto_month {
margin-bottom:12px;
}

.ditto_archpost {
margin-bottom:6px;
}

.download {
}

.download h1 {
font-size:120%;
color: #0000ff;
align:center;
}

.plist {
	display:block;
	margin:38px 0 0px 0px;
	text-align:left;
}

.plist h3{
	display:block;
	margin:0px 0 0px 0;
	font-size:138%;
	font-weight:normal;
}

.plist h5{
	display:block;
	margin:10px 0 6px 0;
	font-size:100%;
	font-weight:bold;
}

.button{
	display: block;
	text-align:left;
}

.button ul {
	display: block;
	margin: 0px 0px;
	padding: 0px 0px;
	float:left;
}

.button li {
	display: inline;
	margin: 0px 10px 0px 0px;
	padding: 0px 0px;
	float:left;
}

.button a{
	color:#000000;
	width:118px;
	height:40px;
	font-weight:bold;
	font-size:16px;
	font-family:"Arial","Times New Roman";
	text-decoration: none;
	text-align:center;
	display:block;
	padding-top:10px;
	margin:0px;
	background:#ffffff url(/images/button.jpg) top left no-repeat;
}

.button a:hover {
	color:#000000;
	text-decoration: none
}

.button a:active, .button a:visited {
	color:#000000;
	text-decoration: none
}

pre {
	border: 1px solid #000000;
	background-color: #ffffcc;
	margin: 4px;
	padding: 4px;
}

.none pre {
}

.indexitem {
	margin-top:32px;
	margin-bottom:8px;
}

.indexitem h1 {
	font-size:120%;
	text-align:left;
	margin-top:2px;
	margin-bottom:8px;
}

.indexitem h2 {
	font-size:120%;
	text-align:left;
	margin-top:2px;
	margin-bottom:8px;
}

.indexitem h3 {
	font-size:100%;
	text-align:left;
	margin-top:2px;
	margin-bottom:8px;
}

.indexitem a:link {
	color:#0000ff;
}
.indexitem a:active, a:visited {
	color:#0000ff;
}
.indexitem a:hover {
	color:#0000ff;
	text-decoration: underline
}
.indexitem .downloadlink {
	margin-right:50px;
}
.indexitem .articlelink {
}
